<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="fiields.a" />
      <input type="text" v-model="fiields.b" />
      [[fiields]]
    </div>
  </body>

  <script>
    const { createApp, reactive } = Vue;

    createApp({
      setup() {
        const fiields = reactive({
          a: "",
          b: "",
        });

        return { fiields };
      },
      delimiters: ["[[", "]]"],
    }).mount("#app");
  </script>
</html>
